.navbar-brand{
   margin-top: -3px;
}
.btn-primary {
  color: #fff;
  background-color: #494949;
  border-color: #494949;
}

.btn-primary:hover {
  
  background-color: #3e3e3e;
  border-color: #3e3e3e;
}
#nav-input{
   width:300px;
}

.header {
  color: #168ccc;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #168ccc;
}
.well {
   background-color: #ffffff;
   border-top: none;
}
.well .well-sm {
   background-color: #ffffff;
   border-top: none;
}
legend { 
   border-bottom: none;
}
